<launch>
  <arg name="camera_info" default="/depth_to_rgb/camera_info"/>
  <arg name="img_depth" default="/depth_to_rgb/image_raw"/>  <!--Rectified depth image-->
  <arg name="pc2_output" default="camera/depth/points"/>

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

  <!-- Construct point cloud of the rgb and depth topics -->
  <node pkg="nodelet" type="nodelet" name="points_xyzrgb" args="load depth_image_proc/point_cloud_xyz standalone_nodelet --no-bond">
    <remap from="camera_info" to="$(arg camera_info)" />  
    <remap from="image_rect" to="$(arg img_depth)"/>  
    <remap from="points" to="$(arg pc2_output)"/>
  </node>
</launch>
